.container{
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button{
        height: 25px;
        padding: 5px;
        width: 25px;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: var(--main);
        color: white;
        font-weight: bold;
        border: none;
    }
}
.welcomeText{
    margin-right: 10px;
    margin-top: 2px;
}