.containerPromo{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1px;
    background-color: var(--white);
    border-radius: 6px;
    padding: 10px
}
.imgI{

    width: 60px;
    height: 60px;
}
.promoDesc{
    padding-left: 5px;
    height: 100%;
}
.desc{
    margin-top: 5px;
    color:(--blue);
    font-style: italic;
}
.value{
    margin-top: 5px;
    font-size: 13px;
    text-align: end;
    font-weight: 500;
    color:(--blue);
}
.title{
    font-weight: bold;
    color:(--blue);
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
}


.removerIcon {
    font-size: 24px;
    color: #ff4d4d;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
        color: #cc0000;
    }
}