.container{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.powerOff{
    background-color: var(--main);
    padding:10px;
    color: white;
    height: 10px;
    width: 10px;
    max-width: 10px !important;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
}