.container{
    width: 95%;
    max-width: 930px;
    h2{
        text-align: center;
    }
}
.containerValue{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title{
  color: var(--blue);
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
}
.value{
    color: var(--blue);
    font-size: 17px;
    font-weight: bold;
}
.btnContinuar{
    background-color: rgb(145, 246, 253);
    color: rgb(0, 32, 34);
    transition: all 0.1s;
    &:active{
     background-color: rgb(6, 140, 150);
    }
 }
 .btnFinalizar{
     background-color: rgb(145, 253, 145);
    color: rgb(0, 112, 4);
    transition: all 0.1s;
    &:active{
     background-color: rgb(10, 65, 11);
    }
 }
 .buttons{
    width: 100%;
    padding: 0px 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a{
        padding: 5px;
        margin: 5px 0px;
        border-radius: 4px;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        max-width: 200px;
        width: 48%;
        text-align: center;
        cursor: pointer;
    }
}
.btnPayment{
    border: solid;
    border-width: 1pt;
    border-color: var(--blue);
    color: var(--blue);
    width: 30% !important;
}
.btnPaymentSelected{
    border: solid;
    border-width: 1pt;
    border-color: white;
    background-color: var(--blue);
    color: white;
    width: 30% !important;
}
.selTroco{
    width: 30%;
    height: 30px;
    text-align: center;
    font-size: 18px;
}
.inputTroco{
    height: 30px;
    border-radius: 0px 4px 4px 0px;
    font-size: 18px;
    width: 50%;
}
.containerTroco{
    margin: 5px 0px;

}