.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  h4.title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
  }

  .inputGroup {
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;
  }

  .codeInput {
    width: 100%;
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    text-align: center;
  }
}
