.group{
  display: flex;
  flex-direction: column;
  padding: 0px 2px;
  input{
    border: none;
    background-color: var(--white);
    padding: 5px 10px;
    font-weight: 500;
    color: var(--gray-900);
    font-size: 17px;
  }
  span{
    font-weight: 500;
    margin-bottom: 2px;
    padding-left: 5px;
  }
}