.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.containerInfo{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.pic{
    width: 30%;
    max-width: 120px;
    border-radius: 8px;
}
.lblValue{
    padding-right: 5px;
}
.lblValueOriginal{
    padding-right: 5px;
    text-decoration:line-through;
    font-style: italic;
}
.lblTitle, .lblValue{
    font-size: var(--subTitle);
}