.divPrincipal{
    background-color: rgb(255, 255, 255);
}
.searchInput{
    width: 100%;
    max-width: 300px;
    border-radius: 9px;
    font-size: 15px;
    padding: 5px;
    color: var(--blue);
    border-color: var(--blue);
    margin-bottom: 5px;
    align-items: start;
   
}
.searchInput::placeholder{
    color: var(--blue);
}
.containerCenter{
     min-height: 100vh;
     display: flex;
     align-items: center;
     flex-direction: column;
}
.containerCombos{
    width: 930px;
    max-width: 95%;
}

.containerProds{
    margin: 10px;
    width: 930px;
    max-width: 95%;
}

.containerClasses{
    height: 70px;
    flex-direction: row;
    padding-top: 10px;
    width: 930px;
    max-width: 95%;
    overflow-x:scroll;
    display:inline-block;
}

.classeNavigator{
    padding: 3px;
    margin-right: 5px;
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: bold;
    border: solid 2px var(--blue);
    border-radius: 9px;
    color: var(--blue);
    display: inline-block;
    &:active, &:focus, &:hover, &:visited{
        text-decoration: none;
    }
   
}

@media(width < 350px){
    .containerCombos::-webkit-scrollbar {
        width: 0 !important
        }
}
.title{
    color: var(--blue);
    max-width: 95%;
    font-size: var(--title);
    font-weight: 600;
    margin-bottom: 10px;
}