.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    background-color: var(--white);
    padding: 20px 10px;
    margin-bottom: 10px;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        cursor: pointer;
    }

    cursor: pointer;
}

.containerInfo {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    width: 60%;
    cursor: pointer;
}

.pic {
    max-width: 120px;
    max-height: 120px;
    border-radius: 8px;
}

.lblValue {
    padding-right: 5px;
    cursor: pointer;
}

.lblValueOriginal {
    padding-right: 5px;
    text-decoration: line-through;
    font-style: italic;
    cursor: pointer;
}

.lblTitle,
.lblValue {
    font-size: var(--subTitle);
    font-weight: 500;
    cursor: pointer;

}

.lblDesc {
    cursor: pointer;
}


.containerGroup {
    background-color: var(--white);
    padding: 20px 10px;

    h5{
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-weight: 500;
    }

    .titleGroup{
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .groupTitle{
            font-weight: 400;
            font-size: 16px;
        }
        .title{
            font-size: 12px;
            font-weight: bold;
            color: var(--main);
        }
    }
}
.containerButtons{
    width: 100%;
    max-width: 100px;
    background-color: var(--main);
    border-radius: 4px;
    color: white;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    input{
        width: 40%;
        background-color: var(--main);
        border: none;
        text-align: center;
        color: white;
        max-width: 30px;
    }
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    height: 100%;
    width: 30%;
    transition: all 0.3s;
    overflow: hidden;
}
.icon:active{
    background-color: var(--main-light);
    -webkit-tap-highlight-color: transparent;
}
